# Ignore everything
*

# Track directories (to organize images in folders)
!*/

# Allow image files anywhere
!**/*.jpg
!**/*.jpeg
!**/*.png
!**/*.gif
!**/*.bmp
!**/*.webp
!**/*.svg
!**/*.ico
!**/*.tiff
!**/*.tif
!**/*.raw
!**/*.cr2
!**/*.nef
!**/*.arw
!**/*.dng
!**/*.heic
!**/*.heif
!**/*.avif
!**/*.apng